@tailwind base;
@tailwind components;
@tailwind utilities;

/* base element styles */
@layer base {
  h1 {
    @apply mt-8 text-3xl font-bold;
  }
  h2 {
    @apply mt-6 text-2xl font-bold;
  }
  h3 {
    @apply mt-4 text-lg font-bold;
  }
  p {
    @apply mt-3;
  }
  li {
    @apply mt-2;
  }
  a {
    @apply text-wut-blue underline;
  }
  input[type="text"],
  input[type="number"],
  select {
    @apply rounded-sm focus:border-wut-blue;
  }
  select { /* Fix double arrows when used with @tailwindcss/forms */
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }
}
